.footer {
  background-color: $footer--background;
  color: $footer--color;
  padding: $footer--padding-vertical $page-padding;
  
  height: $footer--height;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .footer--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    span {
      padding-right: 0.3em;
    }
  }
  
  @media #{$tablet-media} {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
  }
}